/*Seccion de la pagina de bases de datos*/
.dbPage{
  width: 100%;
  height: 1100px;
  background-color: #83AEB4;
}

.dbContainer{
  position: relative;
  width: 95%;
  height: 40%; 
  left: 2.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  top: 250px;
}

.Data_container{
  position: relative;
  height: 350px;
  margin: 20px;
  border-radius: 1em;
  box-shadow: 3px 3px 8px #D8D8D8;
  display: flex;
  transition: all ease-in-out 0.2s;
}
.Data_container:hover{
  transform: scale(1.03);
}

.downloaderDBImageContainer{
  position: absolute;
  width: 35%;
  height: 100%;
  background-color: purple;
  border-radius: 1em 0 0 1em;
}

@media (max-width: 1280px) {
  .dbPage{
    height: 1500px;
  }
  .dbContainer{
    height: 65%; 
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    left: 5%;
  }
}

@media (max-width: 781px) {
  .dbPage{
    height: 2700px;
  }
  .dbContainer{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 416px) {
  .dbPage{
    height: 1650px;
  }
  .dbContainer{
    grid-template-columns: repeat(1, 1fr);
    top: 140px;
    height: 55%; 
  }
  .Data_container{
    height: 200px;
  }
}