
.up{
  position: absolute;
  width: 3em;
  height: 3em;
  left: 94vw;
  top: 1em;
  cursor: pointer;
  animation: moveUpDown 2s linear infinite;
}
@keyframes moveUpDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}
@media (max-width: 1130px) {
  .up{
    left: 93vw;
    top: 1em;
  }
}
@media (max-width: 974px) {
  .up{
    width: 2.5em;
    height: 2.5em;
    left: 92vw;
    top: 3em;
  }
}
@media (max-width: 900px) {
  .up{
    width: 2.5em;
    height: 2.5em;
    top: 2em;
  }
}
@media (max-width: 815px) {
  .up{
    width: 2.5em;
    height: 2.5em;
    top: 0em;
  }
}
@media (max-width: 414px) {
  .up{
    width: 2.5em;
    height: 2.5em;
    left: 2em;
    top: 3.8em;
  }
}  

