<link rel="stylesheet" href="./css/login.css">
<script type="module" src="./js/login.js"></script>
<hgroup>
  <h1>GEOPORTAL RED DE PRESTACION DE SERVICIOS DE SALUD</h1>
  <h3>Univalle</h3>
</hgroup>
<form>
  <div class="group">
    <input type="text" id="username"><span class="highlight"></span><span class="bar"></span>
    <label>Nombre</label>
  </div>
  <div class="group">
    <input type="email" id="email"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <button type="button" class="button buttonBlue" id="gotogeoportal">Ingresar
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
<footer><a href="http://www.polymer-project.org/" target="_blank"><img src="./assets/favicon.png"></a>
  <p>Geoportal red de prestacion de servicios <a href="http://www.polymer-project.org/" target="_blank">Univalle</a></p>
</footer>