/*Seccion de la pagina de bases de datos*/
.dbPage{
  width: 100%;
  height: 1400px;
  background-color: #83AEB4;
}

.dbbarra{
  position: absolute;
  top: 125px;
  height: 130px;
  width: 100%;
  background-position: left;
  background-image: url("../assets/dbbarra.png");
}
.dbbarra p{
  color: #DFE5EB;
  margin-left: 40px;
  text-justify: left;
  margin-right: 40px;
  margin-top: 30px;
  font-size: 1.2rem;
}

.databaseOrganizer{
  position: relative;
  top: 400px;
  margin: 3.5rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 2rem;
}
@media (min-width: 800px) {
  .databaseOrganizer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.databaseOrganizer article {
  position: relative;
  width: 100%;
  display: flex;
  height: 23rem;
  background-color:#DFE5EB;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.databaseOrganizer article:hover {
  box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.25);
}
.databaseOrganizer article {
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.databaseOrganizer article h2{
  color:#3c475a;
  font-size: 1.2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.picturefromdbarticles{
  position: relative;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background-color: #3c475a;
  background-size: cover;
  cursor: pointer;
}
#article_one{
  background-image: url("../assets/ips.png");
}
#article_two{
  background-image: url("../assets/eps.png");
}
#article_three{
  background-image: url("../assets/dispensadores.png");
}
#article_four{
  background-image: url("../assets/servicios.png");
}

.infotextFrame{
  width: 60%;
  height: 100%;
}
.infotextFrame h1{
  font-size: 1.8rem;
  font-weight: 600;
  color: #3c475a;
  margin-top: 10%;
  text-align: center;
}
.infotextFrame p{
  font-size: 1rem;
  font-weight: 400;
  color: #3c475a;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  text-justify: distribute;
}
.infotextFrame div{
  display: flex;
  align-items: center;
}
.infotextFrame a{
  position: relative;
  width: 30%;
  height: auto;
  background-color: #9E064F;
  border-radius: 0.2rem;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  margin: 3%;
  margin-top: 5%;
  left: 30%;
}
.infotextFrame a:active{
  background-color: #9E064F;
  transform: scale(0.95);
}

/* seccion del tarjet donde se muestran las tablas de la base de datos solo si el usuario desea verlas*/
.showIpsTable{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1;
}
.tableContainer {
  position: relative;
  width: 100%;
  top: 240px;
  height: 1150px;
  background-color: #83AEB4;
  overflow: auto;
  margin-bottom: 40px;
}
.tableContainer h1{
  text-align: center; 
  font-size: 3rem;
}
.tableContainer table{
  position: relative;
  border: solid 1px black;
  border-radius: 0.5rem;
  margin-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.showEpsTable{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1;
}
.showDispensadoresTable{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1;
}
.showServiciosTable{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1;
}
.iphead{
  background-color: #c9c8c2;
  font-size: 1.3rem; 
  text-align: left;
}
.ipbody{
  background-color: #efeeea;
  text-align: left;
}

@media screen and (max-width: 414px) {
  .dbPage{
    height: 1900px;
  }
  .dbbarra{
    visibility: hidden;
  }
  .databaseOrganizer{
    top: 200px;
  }
  .picturefromdbarticles{
    width: 60%;
  }
  .infotextFrame{
    width: 40%;
    height: 100%;
  }
  .infotextFrame h1{
    font-size: 1.4rem;
    font-weight: 600;
    color: #3c475a;
    margin-top: 40%;
    text-align: center;
  }
  .infotextFrame p{
    display: none;
  }
  .infotextFrame div{
    display: block;
  }
  .infotextFrame a{
    width: 60%;
    display: block;
    font-size: 0.8rem;
    margin: 5%;
    margin-top: 20%;
    left: 20%;
  }
  .tableContainer {
    top: 330px;
    height: 1900px;
  }
  .tableContainer h1{
    text-align: center; 
    font-size: 3rem;
  }
}
@media screen and (max-width: 800px) {
  .dbPage{
    height: 2100px;
  }
  .tableContainer {
    height: 1900px;
  }
}

