/*Seccion de la pagina de bases de datos*/
.dbPage{
  width: 100%;
  height: 1100px;
  background-color: #83AEB4;
}

.tableipsContainer{
  position: relative;
  background-color: red;
  width: 95%;
  height: 40%; 
  left: 2.5%;
  top: 210px;
  border-radius: 0.5rem;
}
