/*Seccion de la pagina de geovisor*/
.geovisorPage{
  width: 100%;
  height: 850px;
  background-color: #83AEB4;
  font-family: "Inter var", sans-serif;
}

.geobarra{
  position: absolute;
  top: 185px;
  height: 130px;
  width: 100%;
  background-position: left;
  background-image: url("../assets/tecnobarra.png");
}
.geobarra p{
  color: #DFE5EB;
  margin-left: 40px;
  text-justify: left;
  margin-right: 40px;
  margin-top: 30px;
}

.geovisorSection{
  position: relative;
  width: 100%;
  height: 600px;
  top: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarjetGotoGeo{
  width: 50%;
  height: 60%;
  border-radius: 1rem;
  display: flex;
  background-color: #DFE5EB;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.tarjetGotoGeo:hover{
  box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.25);
  scale: 1.1;
  .gotogbutton{
    visibility: visible;
  }
}
.tarjetGotoGeo{
  transition-property: box-shadow,scale;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.geoFrame{
  width: 40%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  background-image: url("../assets/geoFrame.png");
  background-size: cover;
  border-right: #83AEB4;
  border-right-style: solid;
}
.geoFrame a{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.textFrame{
  width: 60%;
  height: 100%;
}
.textFrame h1{
  font-size: 1.8rem;
  font-weight: 600;
  color: #3c475a;
  margin-top: 10%;
  text-align: center;
}
.textFrame p{
  font-size: 1rem;
  font-weight: 400;
  color: #3c475a;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  text-justify: distribute;
}
.gotogbutton{
  visibility: hidden;
  position: absolute;
  left: 62%;
  margin-top: 1%;
  background-color: #9E064F;
  height: auto;
  border-radius: 0.2rem;
  border: none;
}
.gotogbutton a{
  color: white;
  text-decoration: none;
  font-size: 1rem;
}


@media screen and (max-width: 1000px) {
  .textFrame h1{
    font-size: 1.4rem;
  }
  .gotogbutton{
    left: 59%;
  }
}
@media screen and (max-width: 781px) {

  .tarjetGotoGeo{
    display: block;
  }
  .geoFrame{
    width: 100%;
    height: 80%;
    border-radius: 1rem 1rem 0 0;
    border-right: none;
    border-bottom: #83AEB4;
    border-bottom-style: solid;
  }
  .textFrame{
    width: 100%;
    height: 20%;
  }
  .geobarra{
    top: 200px;
    height: 100px;
  }
  .geobarra p{
    margin-top: 20px;
    font-size: 0.8rem;
  }
  .textFrame h1{
    font-size: 1.2rem;
    margin-top: 3%;
  }
  .textFrame p{
    visibility: hidden;
  }
}
@media screen and (max-width: 415px) {
  .geovisorSection{
    top: 100px;
  }
  .geovisorPage{
    height: 700px;
  }
  .geobarra{
    visibility: hidden;
  }
  .textFrame h1{
    font-size: 0.8rem;
    margin-top: 5%;
  }
  .textFrame p{
    visibility: hidden;
  }
}